

<app-menu-title></app-menu-title>


<div class="container__articles">
    <div class="articles__main">
        
        <app-big-card Id="1"
        photoCover="https://f.i.uol.com.br/fotografia/2022/12/02/1670012567638a5e972cab2_1670012567_3x2_md.jpg"
        cardTitle="Oitavas da Copa definidas"
        cardDescription="Com todos os jogos da fase de grupos encerrados, saiu os chaveamentos e confrontos das oitavas de final."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card Id="2"
        photoCover="https://br.web.img2.acsta.net/pictures/22/09/23/20/14/0505071.jpg"
        cardTitle="Nova série da Netflix que está fazendo muito sucesso"></app-small-card>
        <app-small-card Id="3"
        photoCover="https://midias.correiobraziliense.com.br/_midias/jpg/2022/11/09/675x450/1_pantera_negra_wakanda_para_sempre-26819084.jpg?20221109143843?20221109143843"
        cardTitle="Novo filme do Pantera Negra, já disponível nos cinemas"></app-small-card>
        <app-small-card Id="4"
        photoCover="https://cdn.ome.lt/Ioaf8Z-62uBhghl_ft4DOKiQuR4=/fit-in/837x500/smart/uploads/conteudo/fotos/guardioes-da-galaxia_3JegcYe.jpg"
        cardTitle="Guardiões da Galáxia 3 já anunciado, e em breve nos cinemas"></app-small-card>
    </div>
</div>
